{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Discover opportunities</h4>
                              <p class="segmentDescrition">In this section we search twitter data to figure out what people are talking about that they most value and weaknesses in our product/service or competing products/services to discover new opportunities and better server our customers. </p>
                            </div>
                            <div class="content">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search product, service or topic" id="discovertxt"/>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-success" id="Discoverbtn">Search</button>
                                </div>

                            </div>

                        </div>
                    </div>

    
                                </div>
                            </div>
                        </div>
{% endblock %}

{% block javascript %} <script src="{% static 'assets/js/discover.js' %}"></script> {% endblock %}